{% extends 'layout.twig' %}

{% block body %}
<div ng-controller='FormController as controller'
     layout='row'
     layout-gt-small='column'
     ng-cloak>
  <div flex>
    <md-toolbar layout="row" 
                class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Routes</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list class="md-dense" 
               flex>
        <md-subheader class="md-no-sticky">Routes ordered by newest. Click to remove.</md-subheader>
        <md-list-item class="md-3-line" 
                      ng-repeat="route in routes" 
                      ng-click="remove(route)">
          <i class="material-icons"
             style="margin: 8px">
            link
          </i>
          <div class="md-list-item-text" 
               layout="column">
            <h3>{[{route.method}]} {[{route.path}]}</h3>
            <h4>{[{route.status}]}</h4>
            <p>{[{route._id}]}</p>
            <p>{[{route.body}]}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <div flex>
    <form layout='column'
          name='routeForm'
          ng-cloak
          class='md-inline-form'
          flex>
      <md-toolbar layout="row" 
                  class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>New Route</span>
        </div>
      </md-toolbar>
      <fieldset class="standard"
                style='font-size: 12px'>
        <legend>Required fields</legend>
        <md-card>
          <md-card-content>
            <p>Use express js path regex format. Example <b>/product/:sku</b></p>
          </md-card-content>
        </md-card>
        <md-content layout-gt-sm='row'>
          <md-input-container class="md-block" 
                              flex='90'>
            <label>Path</label>
            <input ng-model='route.path' 
                   required
                   name='path'>
          </md-input-container>
        </md-content>
        <md-content layout-gt-sm='row'>
          <md-input-container class="md-block"
                              flex='30'>
            <label>Method</label>
            <md-select ng-model='route.method' 
                       required
                       name='method'>
              <md-option ng-repeat='verb in httpVerbs' 
                         value='{[{verb}]}'>
                {[{verb}]}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block"
                              flex='30'>
            <label>Response status</label>
            <md-select ng-model='route.status' 
                       required
                       name='status'>
              <md-option ng-repeat='httpStatusCode in httpStatusCodes' value='{[{httpStatusCode.code}]}'>
                {[{httpStatusCode.code}]} - {[{httpStatusCode.description}]} 
              </md-option>
            </md-select>
          </md-input-container>
        </md-content>
      </fieldset>
      <fieldset class="standard"
                style='font-size: 12px'>
        <legend>Optional</legend>
        <md-content layout-gt-sm='row'>
          <md-input-container class="md-block"
                              flex='90'>
            <label>Response delay (ms)</label>
            <input type='number' min='0' ng-model='route.responseDelay'>
          </md-input-container>
        </md-content>
        <md-card>
          <md-card-content>
            <p><b>application/json</b> or text content type</p>
          </md-card-content>
        </md-card>
        <md-content layout-gt-sm='row'>
          <md-input-container class="md-block"
                              flex='90'>
            <label>Response body</label>
            <textarea ng-model="route.body" 
                      rows="2" 
                      md-select-on-focus>
            </textarea>
          </md-input-container>
        </md-content>
      </fieldset>
      <div layout='row'
           layout-align='start center'>
        <md-button class="md-fab md-primary" 
                   aria-label="Send"
                   ng-click="send(route)">
          <md-icon><i class="material-icons">send</i></md-icon>
        </md-button>
        <p ng-if="sendClicked && !routeForm.$valid"
           style="color: red; font-size: 12px">
           Please make sure you entered all required fields.
        </p>
        <p ng-if="jsonParseError"
           style="color: red; font-size: 12px">
           Incorrect json format in response body.
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
